@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.color {
  color: #05046a;
}

/* utilities */
.headings {
  color: #05046a !important;
  font-weight: 700;
  font-size: 2.8rem;
}

.flags {
  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(210, 222, 226, 0.4);
  border-radius: 15px;
  width: 80%;
}

p {
  color: rgba(5, 4, 106, 1) !important;
}
@media (max-width: 700px) {
  .headings {
    font-family: 'Source Sans Pro', sans-serif !important;
    color: #05046a !important;
    font-weight: 700;
    font-size: 2rem;
  }
  p {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-weight: 700;
    color: rgba(5, 4, 106, 1) !important;
  }
  .flags {
    width: 100%;
  }
}

/* navbar styling */
navbar {
  align-items: center !important;
  text-align: center !important;
}
.nav-grid {
  display: grid !important;
  grid-template-columns: 1fr 3fr 1fr !important;
}

.nav-menu {
  display: flex !important;
}
.nav-menu li {
  list-style: none !important;
}
.nav-menu li a {
  font-size: 12px !important;
  color: blue !important;
}
ol,
ul {
  padding-left: 0rem !important;
}
.btn {
  font-size: 12px !important;
}
@media (max-width: 800px) {
  .nav-grid {
    display: none !important;
  }
}

/* home section */
.home-section-btn {
  display: inline-block !important;
  width: 42%;
  border: none;
  border-radius: 10px;
  color: #05046a !important;
  background: rgba(116, 116, 128, 0.08);
}

.home-section-btn1 {
  display: inline-block !important;
  width: 42%;
  border: none;
  color: #05046a !important;
  padding: 0.3rem !important;
  background: rgba(116, 116, 128, 0.08);
  outline: none;
  border-radius: 10px;
}

@media only screen and (max-width: 700px) {
  .home-section-grid {
    grid-template-columns: 1fr !important;
  }
  .home-section-btn1 {
    display: inline-block !important;
    width: 100%;
  }
}
.home-image {
  background-color: rgba(239, 245, 253, 1) !important;
  float: right !important;
}
.btn-getearlyaccess {
  margin-top: 5px !important;
  display: block !important;
  width: 41% !important;
  padding: 8px;
  border: none;
  border-radius: 8px;
  background-color: yellow;
  color: black;
  font-size: 14px;
  font-weight: 500;
}
.btn-getearlyaccess:hover {
  border: 2px solid black !important;
}
/* after home section cards column */
.home-section-card {
  display: grid !important;
  grid-template-columns: 1fr 1fr !important;
  position: relative !important;
  top: -5rem !important;
}
@media only screen and (max-width: 700px) {
  .home-section-card {
    margin-top: 6rem;
    grid-template-columns: 1fr !important;
    position: initial !important;
    top: 0 !important;
  }
  .headings {
    text-align: center;
  }
  .card-para {
    text-align: center;
  }
}

/* mapss section */
.maps-grid {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 700px) {
  .maps-grid {
    grid-template-columns: 1fr !important;
  }
}

/* transfer money section */

.tm {
  background: linear-gradient(24.1deg, #5aabe2 15.72%, #4f6fe8 96.36%);
  color: #fff !important;
}

/* image phome section */
.image-phone {
  background-color: rgba(239, 245, 253, 1) !important;
}
.my-btn {
  background-color: #fdda25 !important;
  color: #05046a;
}

/* two mobile image section */

/* loyality program */
.loyality-program {
  background-color: rgba(5, 4, 106, 1) !important;
}

.qr-img {
  height: 650px !important;
}

@media (max-width: 700px) {
  .qr-img {
    height: initial !important;
  }
}

.rt {
  background-color: rgba(239, 245, 253, 1) !important;
}

/* easy onboarding */
.easy-onboarding {
  background-color: rgba(239, 245, 253, 1) !important;
}

.safe {
  height: 50px;
}

/* live chat support! */

.two-mobile p {
  width: 50%;
}

@media (max-width: 700px) {
  .two-mobile p {
    width: 100% !important;
  }
}

/* multi-language */
.multilanguage {
  background-color: rgba(239, 245, 253, 1) !important;
  height: 700px !important;
}
/* index-exchange-grid */
.index-exchange-grid {
  display: grid !important;
  background: rgba(253, 253, 253, 1);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 2rem;
  position: relative;
  top: -150px;
  padding: 2rem;
  border-radius: 20px;
}
@media (max-width: 700px) {
  .index-exchange-grid {
    grid-template-columns: 1fr !important;
    top: -10px;
  }
}

.smt {
  position: relative;
  top: -90px;
}

.radio-btn-grid {
  display: grid !important;
  grid-template-rows: 1fr;
  color: #05046a !important;
  font-weight: bold;
}

.last-btn {
  width: 20% !important;
  font-weight: bold !important;
  border-radius: 10px !important;
}

@media (max-width: 700px) {
  .smt {
    position: initial;
    top: 0;
  }
  .last-btn {
    width: 100% !important;
  }
}

/* footer */
.last-footer {
  background-color: rgb(42, 40, 114) !important;
}
.footer-grid {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr 3fr !important;
}
@media (max-width: 700px) {
  .footer-grid {
    grid-template-columns: 1fr !important;
  }
}
.footer-items {
  list-style: none !important;
}
.footer-items a {
  color: white !important;
  margin-left: -1rem;
}
.ending ul {
  display: flex !important;
}
.ending ul li {
  list-style: none !important;
}
.ending ul li a {
  text-decoration: none !important;
  color: white;
  padding: 0px 10px;
}
.index {
  color: white !important;
}

@media (max-width: 700px) {
  .ending ul {
    display: initial !important;
  }

  .ending ul li a {
    text-decoration: none !important;
    color: white;
    margin-left: -1rem;
  }
}
